.car_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin: 50px auto;
    padding: 30px 0;
    max-width: 950px;
    width: 100%;
    background-color: #f8f8f8;

    .pic {
        width: 700px;
        height: 500px;
        margin: 0 auto;
        border-radius: 15px;
        object-fit: cover;
        display: block;
    }

    .title {
        .name {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .left {
                h2 {
                    color: #2C3E50;
                    margin-top: 70px;
                }

                h1 {
                    color: #2C3E50;
                    margin-top: 20px;
                }
            }
        }

        .right {
            a {
                border: none;
                border-radius: 15px;
                padding: 15px 45px;
                background-color: #2C3E50;
                color: #f8f8f8;
                text-decoration: none;
            }
        }
    }

    .detail {
        display: flex;
        justify-content: space-around;
        margin: 30px 0;

        .detail1 {
            p {
                color: #2C3E50;
            }
        }

        .detail2 {
            p {
                color: #2C3E50;
            }
        }
    }

    .description {
        color: #2C3E50;
        margin: 0 auto;
        max-width: 900px;
        width: 100%;
        font-size: 20px;
        font-weight: 400;
    }

    .bottom {
        margin: 10px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 400px;

        .date {


            .join_date {

                color: #2C3E50;
            }
        }

        .ud {
            display: flex;
            gap: 10px;

            /* a {
                img {
                    max-width: 30px;
                    width: 100px;
                    max-height: 30px;
                    height: 100%;
                }
            } */
        }
    }
}